@charset "UTF-8";

.logo {
  font-size: 0px;
  width: 175px;
  height: 41px;
  background-image: url('/myapp/assets/images/logo_coupang.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 20px auto;
  cursor: pointer;
}
.user-info {
  text-align: right;
  margin: 0 30px;
}
.gnb-wrap {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.gnb {
  width: 500px;
  margin: 0 auto;
  list-style: none;
  display: flex;
}
.gnb li {
  width: 100px;
  height: 40px;
}
.gnb a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
}
.gnb a:hover {
  color: orange;
}
.wrap {
  width: 1080px;
  margin: 0 auto;
}