<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
  <!-- MyBatis 환경 설정 세부 항목, 밑줄을 CamelCase로 바꾼다. -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/> 
  </settings>
  
  <!-- 매퍼에서 사용할 클래스의 별명 지정하기 -->
  <typeAliases>
    <typeAlias type="com.min.app11.dto.BoardDto" alias="BoardDto"/>
    <typeAlias type="com.min.app11.dto.UserDto" alias="UserDto"/>
  </typeAliases>
  
  
  
  
</configuration>
