<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mybatis.mappers.noticeMapper">

  <resultMap type="NoticeDto" id="noticeMap">
    <id column="notice_id" property="noticeId"/>
    <result column="notice_title" property="noticeTitle"/>
    <result column="notice_contents" property="noticeContents"/>
    <result column="created_at" property="createdAt"/>
    <result column="attach_count" property="attachCount"/>
    <association javaType="UserDto" property="userDto">
      <id column="user_id" property="userId"/>
      <result column="user_email" property="userEmail"/>
      <result column="user_pw" property="userPw"/>
      <result column="user_name" property="userName"/>
      <result column="profile_img" property="profileImg"/>
    </association>
  </resultMap>
  
  <select id="selectNoticeList" parameterType="Map" resultMap="noticeMap">
    SELECT n.notice_id, notice_title, notice_contents, created_at, COUNT(attach_id) AS attach_count
      FROM tbl_notice n LEFT JOIN tbl_attach a
        ON n.notice_id = a.notice_id
     GROUP BY n.notice_id, notice_title, notice_contents, created_at
     ORDER BY n.${column} ${sort}
     LIMIT #{offset}, #{display}
  </select>
  
  <select id="selectNoticeCount" resultType="int">
    SELECT COUNT(*)
      FROM tbl_notice
  </select>
  
  <select id="selectNoticeById" parameterType="int" resultMap="noticeMap">
    SELECT notice_id, notice_title, notice_contents, created_at, user_email, user_name
      FROM tbl_user u RIGHT JOIN tbl_notice n
        ON u.user_id = n.user_id
     WHERE notice_id = #{noticeId}
  </select>
  
  <select id="selectAttachListByNoticeId" parameterType="int" resultType="AttachDto">
    SELECT attach_id, notice_id, file_path, original_filename, filesystem_name, download_count
      FROM tbl_attach
     WHERE notice_id = #{noticeId}
  </select>
  
  <select id="selectAttachById" parameterType="int" resultType="AttachDto">
    SELECT attach_id, notice_id, file_path, original_filename, filesystem_name, download_count
      FROM tbl_attach
     WHERE attach_id = #{attachId}
  </select>
  
  <insert id="insertNotice" parameterType="NoticeDto">
    INSERT INTO tbl_notice
    VALUES (null, #{userDto.userId}, #{noticeTitle}, #{noticeContents}, NOW())
    <selectKey keyProperty="noticeId" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  
  <insert id="insertAttach" parameterType="AttachDto">
    INSERT INTO tbl_attach
    VALUES (null, #{noticeId}, #{filePath}, #{originalFilename}, #{filesystemName}, 0)
  </insert>
  
  <delete id="deleteNotice" parameterType="int">
    DELETE
      FROM tbl_notice
     WHERE notice_id = #{noticeId}
  </delete>
  
  <update id="updateAttachDownloadCount" parameterType="int">
    UPDATE tbl_attach
       SET download_count = download_count + 1
     WHERE attach_id = #{attach_id}
  </update>

  <select id="selectSearchList" parameterType="Map" resultMap="noticeMap">
    SELECT n.notice_id, notice_title, notice_contents, created_at, COUNT(attach_id) AS attach_count
      FROM tbl_notice n LEFT JOIN tbl_attach a
        ON n.notice_id = a.notice_id
    <where>
      <if test="noticeTitle != ''">notice_title LIKE CONCAT('%', #{noticeTitle}, '%')</if>
      <if test="noticeContents != ''">AND notice_contents LIKE CONCAT('%', #{noticeContents}, '%')</if>
      <if test="beginDt != ''">AND create_dt >= #{beginDt}</if>
      <if test="endDt != ''">AND create_dt <![CDATA[<=]]> #{endDt}</if>
    </where>
     GROUP BY n.notice_id, notice_title, notice_contents, created_at
     LIMIT #{offset}, #{display}
  </select>
  
  <select id="selectSearchCount" parameterType="Map" resultType="int">
    SELECT COUNT(*)
      FROM tbl_notice
    <where>
      <if test="noticeTitle != ''">notice_title LIKE CONCAT('%', #{noticeTitle}, '%')</if>
      <if test="noticeContents != ''">AND notice_contents LIKE CONCAT('%', #{noticeContents}, '%')</if>
      <if test="beginDt != ''">AND create_dt >= #{beginDt}</if>
      <if test="endDt != ''">AND create_dt <![CDATA[<=]]> #{endDt}</if>
    </where>
  </select>

</mapper>