<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mybatis.mappers.noticeMapper">

  <select id="selectNoticeList" resultType="NoticeDto">
    SELECT n.notice_id, notice_title, notice_contents, created_at, COUNT(attach_id) AS attach_count
      FROM tbl_notice n LEFT JOIN tbl_attach a
        ON n.notice_id = a.notice_id
     GROUP BY n.notice_id, notice_title, notice_contents, created_at
     ORDER BY n.notice_id DESC
  </select>
  
  <select id="selectNoticeById" parameterType="int" resultType="NoticeDto">
    SELECT notice_id, notice_title, notice_contents, created_at
      FROM tbl_notice
     WHERE notice_id = #{noticeId}
  </select>
  
  <select id="selectAttachListByNoticeId" parameterType="int" resultType="AttachDto">
    SELECT attach_id, notice_id, file_path, original_filename, filesystem_name, download_count
      FROM tbl_attach
     WHERE notice_id = #{noticeId}
  </select>
  
  <select id="selectAttachById" parameterType="int" resultType="AttachDto">
    SELECT attach_id, notice_id, file_path, original_filename, filesystem_name, download_count
      FROM tbl_attach
     WHERE attach_id = #{attachId}
  </select>

  <insert id="insertNotice" parameterType="NoticeDto"> <!-- resultType 작성 불가, int로 고정되어있기 때문 -->
    INSERT INTO tbl_notice
    VALUES (null, #{noticeTitle}, #{noticeContents}, NOW())
    <selectKey keyProperty="noticeId" resultType="int" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  
  <insert id="insertAttach" parameterType="AttachDto">
    INSERT INTO tbl_attach
    VALUES (null, #{noticeId}, #{filePath}, #{originalFilename}, #{filesystemName}, 0)
  </insert>

  <delete id="deleteNotice" parameterType="int" >
    DELETE
      FROM tbl_notice
     WHERE notice_id = #{noticeId}
  </delete>
  
  <update id="updateAttachDownloadCount" parameterType="int">
    UPDATE tbl_attach
       SET download_count = download_count + 1
     WHERE attach_id = #{attach_id}
  
  </update>
</mapper>
